language: android
jdk: oraclejdk7
sudo: false

env:
  global:
  - TERM=dumb
  matrix:
  - ANDROID_TARGET=android-22  ANDROID_ABI=armeabi-v7a

android:
  components:
    - build-tools-22.0.1
    - android-22
    - sys-image-armeabi-v7a-android-22

before_script:
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - adb shell input keyevent 82 &

script:
  - make test
